<div class="list-group-item">
  <div class="row-action-primary">
    <i class="material-icons">folder</i>
  </div>
  <div class="row-content">
    <div class="least-content">8m</div>
    <h4 class="list-group-item-heading">Tile with a label</h4>

    <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
  </div>
</div>