<% for(var i=0; i<items.length; i++) { %>
    <div class="list-group-item">
	  <div class="row-action-primary">
	    <i class="material-icons">map</i>
	  </div>
	  <div class="row-content">
	    <div class="least-content">
	    	
		</div>
	    <h2 class="list-group-item-heading"><%= items[i].place_name %> (	<%= items[i]._id %>)</h2>
		<p class="list-group-item-text text-muted"></p>
		<p class="list-group-item-text text-muted">Cost: 
			<strong class="text-warning">
		    </strong></p>
		</div>
	</div>
	<div class="list-group-separator"></div>

<% } %>